#logo
  height: 100px
  width: 140px


#header
  background-image: linear-gradient(rgba(#434750, 0.5), rgba(#000, 0.4), transparent), url("../img/cannon2.jpg")
  height: 1250px
  background-repeat: no-repeat
  background-position: top center

.mainSlide
  height: 630px
  width: 80%
  margin: 10px auto

.section
  height: 650px
  border-bottom: 1px solid #000

.title
  background-color: #141414
  border-bottom: 1px solid rgba(#5F3263, 0.8)



//rgba(#F39798, 0.9), rgba(#65586C, 0.5), rgba(#fff, 0.1)
