nav img
  width: 140px

h1
  display: inline-block
  font-family: $header
  font-weight: 800
  font-size: 80px
  letter-spacing: 5px
  margin-top: 900px

h3
  font-family: $header
  font-weight: 100
  font-size: 30px

h2
  color: $link

h4
  color: $header-color

p
  color: $content-2
