// GLOBAL VARIABLES


//Font
$text-font: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif
$header: 'Raleway', sans-serif


//colors
$header-color: #fff
$content: #444444
$content-2: #CFD4DD

$black: #000

$section: #434750
$section2: #fff


$link: #D99197
$link-hover: #7A818F

$dark-to-light: #434750
