//mixin to import google font
+google-font("Open+Sans", "100")
+google-font("Raleway", "100")

// Header Section
#menu
  position: fixed
  top: 0
  width: 100%
  background-color: transparent

#menu ul
  margin-top: 0px

#menu ul li
  padding: 20px 20px
  font-size: 14px
  letter-spacing: 8px
  margin: 15px 10px


#menu a
  text-decoration: none
  color: $link
  font-family: $header
  font-weight: 200


#menu a:hover
  color: $link-hover
  font-weight: 600

// Slide show section 
#ethan1
  width: 100%


// introduction section
#intro
  padding: 80px 15%
  background-color: darken($section, 22%)

//Prices Section
#prices article
  padding: 80px 10%
  margin: 0 auto
  background-color: darken($section, 10%)


.background
  min-height: 800px
