//mixin to import google font
+google-font("Open+Sans", "100")
+google-font("Raleway", "100")

// === header nav menu ===

#navMenu
  overflow: hidden
  position: fixed
  top: 0
  width: 100%

#menu ul
  margin-top: 0px


#menu ul li
  display: inline-block
  padding: 20px 20px
  font-size: 14px
  letter-spacing: 8px
  margin: 15px 10px


#menu a
  text-decoration: none
  color: $link
  font-family: $header
  font-weight: 200


#menu a:hover
  color: $link-hover
  font-weight: 600


// ==About Me Section ===
#aboutMe article
  +left-side

#aboutMe aside
  +right-side


#aboutMe ul li
  +grid-column(4)
  height: 149.453
  width: 60px
  padding-right: 40px

#aboutMe nav
  padding-top: 60px
  height: 100%

  
// == Prices Section === 
#prices article
  +grid-column(4)
  margin: 150px 40px
  border: 1px solid $dark-to-light
  width: 330px
  height: 380px


//background image sections
#background1
  +background-img($dark-to-light, 0.5, $black, 0.4, "../img/1a.jpg")

#background2
  +background-img($dark-to-light, 0.5, $black, 0.4, "../img/9.jpg")
